* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a {
    color: #c52e2e;
}

.s {
    color: aqua;
}

.d {
    color: color-mix(in srgb, color percentage, color percentage);
}

.w {
    color: coral;
}

.s {
    color: dimgray;
}